# ==========================
# Operating System
# ==========================

.DS_Store

# ==========================
# JetBrains IDE
# ==========================

.idea/
*.iml

# ==========================
# Node / React Native
# ==========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# Expo
# ==========================

.expo/
.expo-shared/

# ==========================
# Build Files
# ==========================

dist/
build/
coverage/

# ==========================
# Environment Variables
# ==========================

.env
.env.local
.env.*

# ==========================
# Android
# ==========================

android/.gradle/
android/app/build/

# ==========================
# iOS
# ==========================

ios/build/